.container {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.regist-full-width {
  min-width: 200px;
  max-width: 400px;
  width: 100%;
}
.left{
  float: left;
  width: 30%;
}
.right{
  float: right;
  width: 30%;
}