<header>
    <div class="main-toolbar mat-elevation-z2" fxLayout="row" fxLayoutAlign="start center">
        <span fxFlex>创意网 - 创意产品众筹平台</span>

        <a routerLink="/login" mat-button>登录</a>
        <a routerLink="/register" mat-button>注册</a>
    </div>
</header>

<main>
    <!-- <router-outlet></router-outlet> -->
</main>

<footer class="footer">
    <div fxLayout="row" class="footer-copyright">
        <span>Copyright 2017-2019. All Right Reserved by Liwh</span>
        <span fxFlex></span>
        <span>由 liwh 设计</span>
    </div>
</footer>