<form >
  <div class="container">
    <h2 class="form-signin-heading"><i class="material-icons">person</i> 用户登录</h2>
    
    <mat-form-field class="login-full-width">
      <input matInput type="text" placeholder="请输入登录账号">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <mat-form-field class="login-full-width">
      <input matInput type="text" placeholder="请输入登录密码">
      <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="">
          <mat-option *ngFor="let t of types" [value]="t.value">
            {{t.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-checkbox>记住我</mat-checkbox>
    
    <a href="" mat-button>忘记密码</a>
    <a href="" mat-button>我要注册</a>

  </div>
</form>